<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gqgx.common.mapper.BrandLargeTypeMapper">
  <resultMap id="BaseResultMap" type="com.gqgx.common.entity.BrandLargeType">
    <id column="A_id" jdbcType="BIGINT" property="id" />
    <result column="A_catalog" jdbcType="VARCHAR" property="catalog" />
    <result column="A_cnno" jdbcType="VARCHAR" property="cnno" />
    <result column="A_no" jdbcType="VARCHAR" property="no" />
    <result column="A_name" jdbcType="VARCHAR" property="name" />
    <result column="A_instruction" jdbcType="VARCHAR" property="instruction" />
    <result column="A_remark" jdbcType="VARCHAR" property="remark" />
    <result column="A_record_status" jdbcType="CHAR" property="recordStatus" />
    <result column="A_update_count" jdbcType="INTEGER" property="updateCount" />
    <result column="A_create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="A_creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="A_update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="A_updater_id" jdbcType="BIGINT" property="updaterId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    A.id as A_id, A.catalog as A_catalog, A.cnno as A_cnno, A.no as A_no, A.name as A_name, 
    A.instruction as A_instruction, A.remark as A_remark, A.record_status as A_record_status, 
    A.update_count as A_update_count, A.create_date as A_create_date, A.creator_id as A_creator_id, 
    A.update_date as A_update_date, A.updater_id as A_updater_id
  </sql>
  <select id="selectByExample" parameterType="com.gqgx.common.entity.BrandLargeTypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from brand_large_type A
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from brand_large_type A
    where A.id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from brand_large_type
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.gqgx.common.entity.BrandLargeTypeExample">
    delete from brand_large_type A
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gqgx.common.entity.BrandLargeType">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into brand_large_type (catalog, cnno, no, 
      name, instruction, remark, 
      record_status, update_count, create_date, 
      creator_id, update_date, updater_id
      )
    values (#{catalog,jdbcType=VARCHAR}, #{cnno,jdbcType=VARCHAR}, #{no,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{instruction,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=CHAR}, #{updateCount,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{creatorId,jdbcType=BIGINT}, #{updateDate,jdbcType=TIMESTAMP}, #{updaterId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gqgx.common.entity.BrandLargeType">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into brand_large_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="catalog != null">
        catalog,
      </if>
      <if test="cnno != null">
        cnno,
      </if>
      <if test="no != null">
        no,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="instruction != null">
        instruction,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
      <if test="updateCount != null">
        update_count,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="updaterId != null">
        updater_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="catalog != null">
        #{catalog,jdbcType=VARCHAR},
      </if>
      <if test="cnno != null">
        #{cnno,jdbcType=VARCHAR},
      </if>
      <if test="no != null">
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="instruction != null">
        #{instruction,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=CHAR},
      </if>
      <if test="updateCount != null">
        #{updateCount,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterId != null">
        #{updaterId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gqgx.common.entity.BrandLargeTypeExample" resultType="java.lang.Integer">
    select count(*) from brand_large_type A
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update brand_large_type A
    <set>
      <if test="record.id != null">
        A.id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.catalog != null">
        A.catalog = #{record.catalog,jdbcType=VARCHAR},
      </if>
      <if test="record.cnno != null">
        A.cnno = #{record.cnno,jdbcType=VARCHAR},
      </if>
      <if test="record.no != null">
        A.no = #{record.no,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        A.name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.instruction != null">
        A.instruction = #{record.instruction,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        A.remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        A.record_status = #{record.recordStatus,jdbcType=CHAR},
      </if>
      <if test="record.updateCount != null">
        A.update_count = #{record.updateCount,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null">
        A.create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creatorId != null">
        A.creator_id = #{record.creatorId,jdbcType=BIGINT},
      </if>
      <if test="record.updateDate != null">
        A.update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updaterId != null">
        A.updater_id = #{record.updaterId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update brand_large_type A
    set A.id = #{record.id,jdbcType=BIGINT},
      A.catalog = #{record.catalog,jdbcType=VARCHAR},
      A.cnno = #{record.cnno,jdbcType=VARCHAR},
      A.no = #{record.no,jdbcType=VARCHAR},
      A.name = #{record.name,jdbcType=VARCHAR},
      A.instruction = #{record.instruction,jdbcType=VARCHAR},
      A.remark = #{record.remark,jdbcType=VARCHAR},
      A.record_status = #{record.recordStatus,jdbcType=CHAR},
      A.update_count = #{record.updateCount,jdbcType=INTEGER},
      A.create_date = #{record.createDate,jdbcType=TIMESTAMP},
      A.creator_id = #{record.creatorId,jdbcType=BIGINT},
      A.update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      A.updater_id = #{record.updaterId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gqgx.common.entity.BrandLargeType">
    update brand_large_type
    <set>
      <if test="catalog != null">
        catalog = #{catalog,jdbcType=VARCHAR},
      </if>
      <if test="cnno != null">
        cnno = #{cnno,jdbcType=VARCHAR},
      </if>
      <if test="no != null">
        no = #{no,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="instruction != null">
        instruction = #{instruction,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        record_status = #{recordStatus,jdbcType=CHAR},
      </if>
      <if test="updateCount != null">
        update_count = #{updateCount,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterId != null">
        updater_id = #{updaterId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gqgx.common.entity.BrandLargeType">
    update brand_large_type
    set catalog = #{catalog,jdbcType=VARCHAR},
      cnno = #{cnno,jdbcType=VARCHAR},
      no = #{no,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      instruction = #{instruction,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      record_status = #{recordStatus,jdbcType=CHAR},
      update_count = #{updateCount,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=BIGINT},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      updater_id = #{updaterId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>