<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gqgx.common.mapper.BrandDycTypeItemMapper">
  <resultMap id="BaseResultMap" type="com.gqgx.common.entity.BrandDycTypeItem">
    <id column="A_id" jdbcType="BIGINT" property="id" />
    <result column="A_nav_item_id" jdbcType="BIGINT" property="navItemId" />
    <result column="A_large_type_id" jdbcType="BIGINT" property="largeTypeId" />
    <result column="A_type_no" jdbcType="VARCHAR" property="typeNo" />
    <result column="A_project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="A_project_translation" jdbcType="VARCHAR" property="projectTranslation" />
    <result column="A_project_status" jdbcType="VARCHAR" property="projectStatus" />
    <result column="A_project_invalid_date" jdbcType="VARCHAR" property="projectInvalidDate" />
    <result column="A_project_type" jdbcType="VARCHAR" property="projectType" />
    <result column="A_project_version" jdbcType="VARCHAR" property="projectVersion" />
    <result column="A_record_status" jdbcType="CHAR" property="recordStatus" />
    <result column="A_update_count" jdbcType="INTEGER" property="updateCount" />
    <result column="A_create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="A_creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="A_update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="A_updater_id" jdbcType="BIGINT" property="updaterId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    A.id as A_id, A.nav_item_id as A_nav_item_id, A.large_type_id as A_large_type_id, 
    A.type_no as A_type_no, A.project_name as A_project_name, A.project_translation as A_project_translation, 
    A.project_status as A_project_status, A.project_invalid_date as A_project_invalid_date, 
    A.project_type as A_project_type, A.project_version as A_project_version, A.record_status as A_record_status, 
    A.update_count as A_update_count, A.create_date as A_create_date, A.creator_id as A_creator_id, 
    A.update_date as A_update_date, A.updater_id as A_updater_id
  </sql>
  <select id="selectByExample" parameterType="com.gqgx.common.entity.BrandDycTypeItemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from brand_dyc_type_item A
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from brand_dyc_type_item A
    where A.id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from brand_dyc_type_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.gqgx.common.entity.BrandDycTypeItemExample">
    delete from brand_dyc_type_item A
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gqgx.common.entity.BrandDycTypeItem">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into brand_dyc_type_item (nav_item_id, large_type_id, type_no, 
      project_name, project_translation, project_status, 
      project_invalid_date, project_type, project_version, 
      record_status, update_count, create_date, 
      creator_id, update_date, updater_id
      )
    values (#{navItemId,jdbcType=BIGINT}, #{largeTypeId,jdbcType=BIGINT}, #{typeNo,jdbcType=VARCHAR}, 
      #{projectName,jdbcType=VARCHAR}, #{projectTranslation,jdbcType=VARCHAR}, #{projectStatus,jdbcType=VARCHAR}, 
      #{projectInvalidDate,jdbcType=VARCHAR}, #{projectType,jdbcType=VARCHAR}, #{projectVersion,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=CHAR}, #{updateCount,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{creatorId,jdbcType=BIGINT}, #{updateDate,jdbcType=TIMESTAMP}, #{updaterId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gqgx.common.entity.BrandDycTypeItem">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into brand_dyc_type_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="navItemId != null">
        nav_item_id,
      </if>
      <if test="largeTypeId != null">
        large_type_id,
      </if>
      <if test="typeNo != null">
        type_no,
      </if>
      <if test="projectName != null">
        project_name,
      </if>
      <if test="projectTranslation != null">
        project_translation,
      </if>
      <if test="projectStatus != null">
        project_status,
      </if>
      <if test="projectInvalidDate != null">
        project_invalid_date,
      </if>
      <if test="projectType != null">
        project_type,
      </if>
      <if test="projectVersion != null">
        project_version,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
      <if test="updateCount != null">
        update_count,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="updaterId != null">
        updater_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="navItemId != null">
        #{navItemId,jdbcType=BIGINT},
      </if>
      <if test="largeTypeId != null">
        #{largeTypeId,jdbcType=BIGINT},
      </if>
      <if test="typeNo != null">
        #{typeNo,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectTranslation != null">
        #{projectTranslation,jdbcType=VARCHAR},
      </if>
      <if test="projectStatus != null">
        #{projectStatus,jdbcType=VARCHAR},
      </if>
      <if test="projectInvalidDate != null">
        #{projectInvalidDate,jdbcType=VARCHAR},
      </if>
      <if test="projectType != null">
        #{projectType,jdbcType=VARCHAR},
      </if>
      <if test="projectVersion != null">
        #{projectVersion,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=CHAR},
      </if>
      <if test="updateCount != null">
        #{updateCount,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterId != null">
        #{updaterId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gqgx.common.entity.BrandDycTypeItemExample" resultType="java.lang.Integer">
    select count(*) from brand_dyc_type_item A
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update brand_dyc_type_item A
    <set>
      <if test="record.id != null">
        A.id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.navItemId != null">
        A.nav_item_id = #{record.navItemId,jdbcType=BIGINT},
      </if>
      <if test="record.largeTypeId != null">
        A.large_type_id = #{record.largeTypeId,jdbcType=BIGINT},
      </if>
      <if test="record.typeNo != null">
        A.type_no = #{record.typeNo,jdbcType=VARCHAR},
      </if>
      <if test="record.projectName != null">
        A.project_name = #{record.projectName,jdbcType=VARCHAR},
      </if>
      <if test="record.projectTranslation != null">
        A.project_translation = #{record.projectTranslation,jdbcType=VARCHAR},
      </if>
      <if test="record.projectStatus != null">
        A.project_status = #{record.projectStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.projectInvalidDate != null">
        A.project_invalid_date = #{record.projectInvalidDate,jdbcType=VARCHAR},
      </if>
      <if test="record.projectType != null">
        A.project_type = #{record.projectType,jdbcType=VARCHAR},
      </if>
      <if test="record.projectVersion != null">
        A.project_version = #{record.projectVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        A.record_status = #{record.recordStatus,jdbcType=CHAR},
      </if>
      <if test="record.updateCount != null">
        A.update_count = #{record.updateCount,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null">
        A.create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creatorId != null">
        A.creator_id = #{record.creatorId,jdbcType=BIGINT},
      </if>
      <if test="record.updateDate != null">
        A.update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updaterId != null">
        A.updater_id = #{record.updaterId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update brand_dyc_type_item A
    set A.id = #{record.id,jdbcType=BIGINT},
      A.nav_item_id = #{record.navItemId,jdbcType=BIGINT},
      A.large_type_id = #{record.largeTypeId,jdbcType=BIGINT},
      A.type_no = #{record.typeNo,jdbcType=VARCHAR},
      A.project_name = #{record.projectName,jdbcType=VARCHAR},
      A.project_translation = #{record.projectTranslation,jdbcType=VARCHAR},
      A.project_status = #{record.projectStatus,jdbcType=VARCHAR},
      A.project_invalid_date = #{record.projectInvalidDate,jdbcType=VARCHAR},
      A.project_type = #{record.projectType,jdbcType=VARCHAR},
      A.project_version = #{record.projectVersion,jdbcType=VARCHAR},
      A.record_status = #{record.recordStatus,jdbcType=CHAR},
      A.update_count = #{record.updateCount,jdbcType=INTEGER},
      A.create_date = #{record.createDate,jdbcType=TIMESTAMP},
      A.creator_id = #{record.creatorId,jdbcType=BIGINT},
      A.update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      A.updater_id = #{record.updaterId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gqgx.common.entity.BrandDycTypeItem">
    update brand_dyc_type_item
    <set>
      <if test="navItemId != null">
        nav_item_id = #{navItemId,jdbcType=BIGINT},
      </if>
      <if test="largeTypeId != null">
        large_type_id = #{largeTypeId,jdbcType=BIGINT},
      </if>
      <if test="typeNo != null">
        type_no = #{typeNo,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectTranslation != null">
        project_translation = #{projectTranslation,jdbcType=VARCHAR},
      </if>
      <if test="projectStatus != null">
        project_status = #{projectStatus,jdbcType=VARCHAR},
      </if>
      <if test="projectInvalidDate != null">
        project_invalid_date = #{projectInvalidDate,jdbcType=VARCHAR},
      </if>
      <if test="projectType != null">
        project_type = #{projectType,jdbcType=VARCHAR},
      </if>
      <if test="projectVersion != null">
        project_version = #{projectVersion,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        record_status = #{recordStatus,jdbcType=CHAR},
      </if>
      <if test="updateCount != null">
        update_count = #{updateCount,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterId != null">
        updater_id = #{updaterId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gqgx.common.entity.BrandDycTypeItem">
    update brand_dyc_type_item
    set nav_item_id = #{navItemId,jdbcType=BIGINT},
      large_type_id = #{largeTypeId,jdbcType=BIGINT},
      type_no = #{typeNo,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      project_translation = #{projectTranslation,jdbcType=VARCHAR},
      project_status = #{projectStatus,jdbcType=VARCHAR},
      project_invalid_date = #{projectInvalidDate,jdbcType=VARCHAR},
      project_type = #{projectType,jdbcType=VARCHAR},
      project_version = #{projectVersion,jdbcType=VARCHAR},
      record_status = #{recordStatus,jdbcType=CHAR},
      update_count = #{updateCount,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=BIGINT},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      updater_id = #{updaterId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>