<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gqgx.common.mapper.SysOperationLogMapper">
  <resultMap id="BaseResultMap" type="com.gqgx.common.entity.SysOperationLog">
    <id column="A_id" jdbcType="BIGINT" property="id" />
    <result column="A_user_id" jdbcType="BIGINT" property="userId" />
    <result column="A_module_name" jdbcType="VARCHAR" property="moduleName" />
    <result column="A_operation_name" jdbcType="VARCHAR" property="operationName" />
    <result column="A_operation_desc" jdbcType="VARCHAR" property="operationDesc" />
    <result column="A_operation_url" jdbcType="VARCHAR" property="operationUrl" />
    <result column="A_ip_address" jdbcType="VARCHAR" property="ipAddress" />
    <result column="A_brower_type" jdbcType="VARCHAR" property="browerType" />
    <result column="A_termianl_type" jdbcType="CHAR" property="termianlType" />
    <result column="A_operation_date" jdbcType="TIMESTAMP" property="operationDate" />
    <result column="A_company_id" jdbcType="BIGINT" property="companyId" />
    <result column="A_record_status" jdbcType="CHAR" property="recordStatus" />
    <result column="A_update_count" jdbcType="INTEGER" property="updateCount" />
    <result column="A_create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="A_creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="A_update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="A_updater_id" jdbcType="BIGINT" property="updaterId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    A.id as A_id, A.user_id as A_user_id, A.module_name as A_module_name, A.operation_name as A_operation_name, 
    A.operation_desc as A_operation_desc, A.operation_url as A_operation_url, A.ip_address as A_ip_address, 
    A.brower_type as A_brower_type, A.termianl_type as A_termianl_type, A.operation_date as A_operation_date, 
    A.company_id as A_company_id, A.record_status as A_record_status, A.update_count as A_update_count, 
    A.create_date as A_create_date, A.creator_id as A_creator_id, A.update_date as A_update_date, 
    A.updater_id as A_updater_id
  </sql>
  <select id="selectByExample" parameterType="com.gqgx.common.entity.SysOperationLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_operation_log A
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_operation_log A
    where A.id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_operation_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.gqgx.common.entity.SysOperationLogExample">
    delete from sys_operation_log A
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gqgx.common.entity.SysOperationLog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_operation_log (user_id, module_name, operation_name, 
      operation_desc, operation_url, ip_address, 
      brower_type, termianl_type, operation_date, 
      company_id, record_status, update_count, 
      create_date, creator_id, update_date, 
      updater_id)
    values (#{userId,jdbcType=BIGINT}, #{moduleName,jdbcType=VARCHAR}, #{operationName,jdbcType=VARCHAR}, 
      #{operationDesc,jdbcType=VARCHAR}, #{operationUrl,jdbcType=VARCHAR}, #{ipAddress,jdbcType=VARCHAR}, 
      #{browerType,jdbcType=VARCHAR}, #{termianlType,jdbcType=CHAR}, #{operationDate,jdbcType=TIMESTAMP}, 
      #{companyId,jdbcType=BIGINT}, #{recordStatus,jdbcType=CHAR}, #{updateCount,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{creatorId,jdbcType=BIGINT}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{updaterId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.gqgx.common.entity.SysOperationLog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_operation_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="moduleName != null">
        module_name,
      </if>
      <if test="operationName != null">
        operation_name,
      </if>
      <if test="operationDesc != null">
        operation_desc,
      </if>
      <if test="operationUrl != null">
        operation_url,
      </if>
      <if test="ipAddress != null">
        ip_address,
      </if>
      <if test="browerType != null">
        brower_type,
      </if>
      <if test="termianlType != null">
        termianl_type,
      </if>
      <if test="operationDate != null">
        operation_date,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
      <if test="updateCount != null">
        update_count,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="updaterId != null">
        updater_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="moduleName != null">
        #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="operationName != null">
        #{operationName,jdbcType=VARCHAR},
      </if>
      <if test="operationDesc != null">
        #{operationDesc,jdbcType=VARCHAR},
      </if>
      <if test="operationUrl != null">
        #{operationUrl,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null">
        #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="browerType != null">
        #{browerType,jdbcType=VARCHAR},
      </if>
      <if test="termianlType != null">
        #{termianlType,jdbcType=CHAR},
      </if>
      <if test="operationDate != null">
        #{operationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=CHAR},
      </if>
      <if test="updateCount != null">
        #{updateCount,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterId != null">
        #{updaterId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gqgx.common.entity.SysOperationLogExample" resultType="java.lang.Integer">
    select count(*) from sys_operation_log A
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_operation_log A
    <set>
      <if test="record.id != null">
        A.id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null">
        A.user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.moduleName != null">
        A.module_name = #{record.moduleName,jdbcType=VARCHAR},
      </if>
      <if test="record.operationName != null">
        A.operation_name = #{record.operationName,jdbcType=VARCHAR},
      </if>
      <if test="record.operationDesc != null">
        A.operation_desc = #{record.operationDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.operationUrl != null">
        A.operation_url = #{record.operationUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.ipAddress != null">
        A.ip_address = #{record.ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.browerType != null">
        A.brower_type = #{record.browerType,jdbcType=VARCHAR},
      </if>
      <if test="record.termianlType != null">
        A.termianl_type = #{record.termianlType,jdbcType=CHAR},
      </if>
      <if test="record.operationDate != null">
        A.operation_date = #{record.operationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.companyId != null">
        A.company_id = #{record.companyId,jdbcType=BIGINT},
      </if>
      <if test="record.recordStatus != null">
        A.record_status = #{record.recordStatus,jdbcType=CHAR},
      </if>
      <if test="record.updateCount != null">
        A.update_count = #{record.updateCount,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null">
        A.create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creatorId != null">
        A.creator_id = #{record.creatorId,jdbcType=BIGINT},
      </if>
      <if test="record.updateDate != null">
        A.update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updaterId != null">
        A.updater_id = #{record.updaterId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_operation_log A
    set A.id = #{record.id,jdbcType=BIGINT},
      A.user_id = #{record.userId,jdbcType=BIGINT},
      A.module_name = #{record.moduleName,jdbcType=VARCHAR},
      A.operation_name = #{record.operationName,jdbcType=VARCHAR},
      A.operation_desc = #{record.operationDesc,jdbcType=VARCHAR},
      A.operation_url = #{record.operationUrl,jdbcType=VARCHAR},
      A.ip_address = #{record.ipAddress,jdbcType=VARCHAR},
      A.brower_type = #{record.browerType,jdbcType=VARCHAR},
      A.termianl_type = #{record.termianlType,jdbcType=CHAR},
      A.operation_date = #{record.operationDate,jdbcType=TIMESTAMP},
      A.company_id = #{record.companyId,jdbcType=BIGINT},
      A.record_status = #{record.recordStatus,jdbcType=CHAR},
      A.update_count = #{record.updateCount,jdbcType=INTEGER},
      A.create_date = #{record.createDate,jdbcType=TIMESTAMP},
      A.creator_id = #{record.creatorId,jdbcType=BIGINT},
      A.update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      A.updater_id = #{record.updaterId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gqgx.common.entity.SysOperationLog">
    update sys_operation_log
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="moduleName != null">
        module_name = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="operationName != null">
        operation_name = #{operationName,jdbcType=VARCHAR},
      </if>
      <if test="operationDesc != null">
        operation_desc = #{operationDesc,jdbcType=VARCHAR},
      </if>
      <if test="operationUrl != null">
        operation_url = #{operationUrl,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null">
        ip_address = #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="browerType != null">
        brower_type = #{browerType,jdbcType=VARCHAR},
      </if>
      <if test="termianlType != null">
        termianl_type = #{termianlType,jdbcType=CHAR},
      </if>
      <if test="operationDate != null">
        operation_date = #{operationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="recordStatus != null">
        record_status = #{recordStatus,jdbcType=CHAR},
      </if>
      <if test="updateCount != null">
        update_count = #{updateCount,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterId != null">
        updater_id = #{updaterId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gqgx.common.entity.SysOperationLog">
    update sys_operation_log
    set user_id = #{userId,jdbcType=BIGINT},
      module_name = #{moduleName,jdbcType=VARCHAR},
      operation_name = #{operationName,jdbcType=VARCHAR},
      operation_desc = #{operationDesc,jdbcType=VARCHAR},
      operation_url = #{operationUrl,jdbcType=VARCHAR},
      ip_address = #{ipAddress,jdbcType=VARCHAR},
      brower_type = #{browerType,jdbcType=VARCHAR},
      termianl_type = #{termianlType,jdbcType=CHAR},
      operation_date = #{operationDate,jdbcType=TIMESTAMP},
      company_id = #{companyId,jdbcType=BIGINT},
      record_status = #{recordStatus,jdbcType=CHAR},
      update_count = #{updateCount,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=BIGINT},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      updater_id = #{updaterId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>